<main class="main">
  <header>
    <img
      alt="image-antares"
      src="/images/logo_antares.svg"
      width="177"
      height="177"
    />
    <h1 class="title-app">Antares Workshop</h1>
  </header>
  <div class="container-grid">
    {{! temperature }}
    <div class="box temperature">
      <img
        alt="temperature"
        src="/images/temperature.svg"
        class="icons"
        width="110"
        height="110"
      />
      <h3 class="value-temperature" id="temperature">{{temperature}} c</h3>
      <h4 class="title-temperature">temperature</h4>
    </div>
    {{! pressure }}
    <div class="box pressure">
      <img
        alt="pressure"
        src="/images/object.svg"
        class="icons"
        width="75"
        height="75"
      />
      <h3 class="value-pressure" id="pressure">{{pressure}}</h3>
      <h4 class="title-pressure">Pressure</h4>
    </div>
    
    {{! humidity }}
    <div class="box humidity">
      <img
        alt="humidity"
        src="/images/humidity.svg"
        class="icons"
        width="75"
        height="75"
      />
      <h3 class="value-humidity" id="humidity">{{humidity}}</h3>
      <h4 class="title-humidity">Humidity</h4>
    </div>
    {{!-- switch --}}
    <div id="card" class="box smart-switch {{status}}">
      <button class="button-switch" id="switch" data-status={{status}}>
        {{status}}
      </button>
      <h4 class="title-switch">Switch</h4>
    </div>
  </div>
</main>

<script type="text/javascript">
  const button = document.getElementById('switch'); 
  const card = document.getElementById('card') 
  const onClick = () => { 
    let status = (button.getAttribute('data-status') === "nyala") ? "mati" : 'nyala'
  if(card.classList.contains('mati')){ 
    card.classList.remove('mati')
  card.classList.add(status) 
  button.innerText = 'nyala'
  button.setAttribute("data-status", "nyala") 
  }
  else {
  card.classList.remove('nyala') 
  card.classList.add(status) 
  button.innerText ='mati' 
  button.setAttribute("data-status", "mati") 
  } 
  let body = { 
    status: status == 'nyala' ? 1 : 0
  } 
  fetch(`/postData`, { method: "POST", headers: { 'Content-Type':
  'application/json', }, 
  body: JSON.stringify(body) }) 
  }
  button.addEventListener("click", onClick);
</script>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>

<script type="text/javascript">
  var socket = io({ query: 'dashboard=antares' }); 
  const updateContent = (pressure, humidity, temperature) => { 
    console.log("hasil update", pressure)
  document.getElementById("pressure").innerHTML = `${pressure ?? 0} p`
  document.getElementById("humidity").innerHTML = `${humidity ?? '-'}`
  document.getElementById("temperature").innerHTML = `${temperature ?? 'c'}`
  } 

  socket.on('packet',
  function (data) { 
    console.log('data socket', data) 
    if (data.topic !== null) {
  const dataCin = data['m2m:rsp'].pc['m2m:cin'] 
  const dataCon = JSON.parse(dataCin.con) 
  let status; 
  let humidity = "-"; 
  let temperature = "-"; 
  pressure = dataCon.pressure 
  humidity = dataCon.hum 
  temperature = dataCon.temp
  updateContent(pressure, humidity, temperature) } })
</script>